.dx-dashboard-custom-panel-extension {
    background-color: white;
    z-index: 2;
}
.dx-dashboard-custom-panel-extension h1 {
    position:absolute;
    width: 100%;
    height:50px;
    line-height: 50px;
    padding-left:20px;
    margin:0px;
    border-bottom: solid 1px #E5E5E5;

    color: black;
    font-size:12px;
    font-weight:700;
    text-transform:uppercase;
}
.dx-dashboard-custom-panel-extension .dx-dashboard-edit-in-designer-button {
    position: absolute;
    width: 100%;
    height: 110px;
    bottom: 0px;

    color: white;
    background-color: #579ADD;
    text-align:center;
    font-size: 12pt;

    cursor: pointer;       
}
.dx-dashboard-custom-panel-extension .dx-dashboard-edit-in-designer-button svg {
    width:32px;
    height:32px;
}
.dx-dashboard-custom-panel-extension .dx-dashboard-edit-in-designer-button:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: .1px;
}
.dx-dashboard-custom-panel-extension .dx-dashboard-edit-in-designer-button>* {
    display: inline-block;
    vertical-align: middle;
}

.dx-dashboard-custom-panel-extension .dx-dashboard-dashboard-list {
    position:absolute;
    top: 50px;
    bottom:110px;
    width: 100%;
    height: initial;
    margin:0;
    padding:0;
    color:#2D3034;
}   
.dx-dashboard-custom-panel-extension .dx-dashboard-dashboard-list .dx-list-item {
    border: none;
    border-bottom: solid 1px #E5E5E5;
}
.dx-dashboard-custom-panel-extension .dx-dashboard-dashboard-list .dx-list-item-content {
    height: 39px;
    line-height:39px;
    padding: 0px 0px 0px 20px;
    font-size:12px;
    cursor: pointer;
}

.dx-dashboard-custom-panel-extension .dx-dashboard-dashboard-list .dx-list-item.dx-state-hover, 
.dx-dashboard-custom-panel-extension .dx-dashboard-dashboard-list .dx-list-item.dx-state-focused {
    background-color: #ECF4FF; 
    color:#2D3034;
}
.dx-dashboard-custom-panel-extension .dx-dashboard-dashboard-list .dx-list-item.dx-list-item-selected,
.dx-dashboard-custom-panel-extension .dx-dashboard-dashboard-list .dx-list-item.dx-list-item-selected.dx-state-hover:not(.dx-state-focused),
.dx-dashboard-custom-panel-extension .dx-dashboard-dashboard-list .dx-list-item.dx-list-item-selected.dx-state-focused {
    background-color: #DBE9FD;
    color:#2D3034;
}
.dx-dashboard-toolbox-extension {
    transition: left 500ms ease;
}
.dx-dashboard-toolbar .dx-dashboard-custom-viewer-button {
    width: 80px;
    height: 50px;
    line-height: 50px;
    background-color: #579ADD;
    color: white;
    text-align: center;
    font-size: 10pt;
    letter-spacing: normal;
    text-transform:uppercase;
    cursor: pointer;   
}
.dx-color-scheme-dark .dx-dashboard-custom-panel-extension {
    background-color: #111111;
}
.dx-color-scheme-dark h1 {
    color: #A9A9A9;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.dx-color-scheme-dark .dx-dashboard-custom-panel-extension .dx-dashboard-dashboard-list .dx-list-item.dx-state-hover,
.dx-color-scheme-dark .dx-dashboard-custom-panel-extension .dx-dashboard-dashboard-list .dx-list-item.dx-state-focused {
    color: #A9A9A9;
    background-color: #004060;
}
.dx-color-scheme-dark .dx-dashboard-custom-panel-extension .dx-dashboard-dashboard-list .dx-list-item.dx-list-item-selected,
.dx-color-scheme-dark .dx-dashboard-custom-panel-extension .dx-dashboard-dashboard-list .dx-list-item.dx-list-item-selected.dx-state-hover:not(.dx-state-focused),
.dx-color-scheme-dark .dx-dashboard-custom-panel-extension .dx-dashboard-dashboard-list .dx-list-item.dx-list-item-selected.dx-state-focused {
    color: #A9A9A9;
    background-color: #306080;
}
.dx-color-scheme-dark .dx-dashboard-custom-panel-extension .dx-dashboard-dashboard-list .dx-list-item {
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}